.side-drawer {
  height: 100%;
  background: #f6dbe2;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer.open {
  background: #20262e;
}

.side-drawer .toolbar-navigation-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 4rem;
}

.side-drawer .toolbar-navigation-items a{
  color: white;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
  font-size: 1.4rem;
  margin: 0.8rem 0 0 0.5rem;
  width: 94%;
}

.toolbar-navigation-items a:hover {
  border-bottom: 1px solid #c3a9ee;
  color: #c3a9ee;

}

@media (min-width: 796px) {
  .side-drawer {
    display: none;
  }
}