.container {
        background: #c3a9ee;
        padding-top: 125px;
        height: 100vh;
      }
      

.form {
          display: block;
          padding: 56px;
}

.form-cover {
position: relative;
background: #ffffff;
max-width: 488px;
/* width: 100%; */
box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
margin: 0 auto;
border-radius: 4px;
/* make it center */
width: 60%;
margin: 0 auto;
/* padding: 20px; */
display: flex;
justify-content: center;
align-items: center;
resize: both;
overflow: auto;
}

.input {
outline: none;
display: block;
width: 100%;
background: #F0F0F0;
border: 1px solid #d9d9d9;
margin: 0 0 20px;
padding: 10px 15px;
box-sizing: border-box;
font-weight: 400;
transition: 0.3s ease;
border-radius: 5px;
font-size: 1.2rem;
margin-top: 0.5rem;
}

.loginTitle {
           text-align: center;
           font-weight: 700;
           font-size: 2.5rem;
}

.btnSignIn {
        background-color: #20262e;
        position: relative;
  border: none;
  font-size: 1.7rem;
  color: #FFFFFF;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.btnSignIn:after {
        content: "";
        background: #767676;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }
 
      .btnSignIn:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }


a {
        text-decoration: none;
        color: rgb(108, 41, 223);
}

label {
            font-weight: bold;
            font-size: 1.3rem;
}

.notMember {
font-size: 0.9rem;
margin-top: 1.5rem;
font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1024px) {
        .container {
          width: 100%;
          height: 100%;
        }
        .form h2 button {
          font-size: 0.2rem;
        }
        .form {
          padding: 30px;
        }
        .btnSignIn {
          font-size: 1rem;
        }
      }
      
@media only screen and (max-width: 800px) {
        .container {
          width: 100%;
          height: 100%;
        }
        .form-cover {
          width: 60%;
          margin: 0 auto;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          resize: both;
          overflow: auto;
        }
        .notMember {
          font-size: 1rem;
        }
      }
      
      @media only screen and (max-width: 650px) {
        .container {
          width: 100%;
          height: 100vh;
        }
        .form-cover {
          width: 60%;
          margin: 0 auto;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          resize: both;
          overflow: auto;
        }
        .form {
          padding: 10px;
        }
        .form h2{
          font-size: 1.4rem;
        }
        .form label {
          font-size: 1rem;
          padding: 4px 5px;
        }
        .input {
          font-size: 0.8rem;
        }
        .btnSignIn {
          font-size: 0.8rem;
        }
        .notMember {
          font-size: 0.8rem;
        }
      }