nav {
  width: 100%;
  padding-left: 130px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #20262e;
  color: white;
}

.logo {
  display: inline-block;
  margin: inherit;
}

.nav-links {
  list-style: none;
  display: flex;
}

.tab a {
  padding: 0.7em;
  color: white;
} 

.tab a:hover {
  color: #c3a9ee;
  text-decoration: underline;
}